@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)), url('background.jpg'); 
    background-size: cover; 
    background-position: center center; 
    background-repeat: no-repeat; 
}

nav {
    width: 100%;
    height: 100px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo {
    letter-spacing: 2px;
    font-size: 2em;
    font-weight: bold;
    color: white;
}

.menu {
    display: flex;
    gap: 20px;
}

.menu a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    font-weight: 500;
    font-size: 20px;
}

.h-text {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 650px;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.h-text span {
    letter-spacing: 5px;
}

.h-text h1 {
    font-size: 3.5em;
}

.h-text a {
    text-decoration: none;
    padding: 10px 20px;
    color: #fff;
    letter-spacing: 3px;
    background-color: black;
    border-radius: 5px;
}

.h-text a:hover {
    background-color: #9F2B68; 
}

.menu a:hover {
    color: black;
}

.image-slider {
    position: relative;
    max-width: 100%;
    height: 120px;
    overflow: hidden;
}

.slides {
    display: flex;
    width: calc(100%); 
    height: 100%;
    animation: slide 10s linear infinite;
}

.slides img {
    height: 100%; 
    object-fit: cover;
    border-radius: 20%;
    margin: 0 10px;
}

@keyframes slide {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}

@media only screen and (max-width: 768px) {
    .logo {
        font-size: 1.5em;
    }
    .menu {
        display: flex;
        gap: 10px;
        position: absolute;
        top: 10px;
        right: 20px;
        padding: 20px;
        border-radius: 5px;
    }

    .menu a {
        font-size: 18px;
        padding: 8px 16px;
    }

    .h-text h1 {
        font-size: 2.5em;
    }

    .h-text {
        max-width: 90%;
    }

    .image-slider {
        height: 80px;
    }

    .slides img {
        height: 80%;
        margin: 0 5px;
    }
}

@media only screen and (max-width: 480px) {
    .h-text h1 {
        font-size: 2em;
    }

    .h-text a {
        font-size: 16px;
        padding: 8px 16px;
    }

    .image-slider {
        height: 60px;
    }

    .slides img {
        height: 60%;
        margin: 0 5px;
    }

    nav {
        height: 80px;
    }

    .logo {
        font-size: 1.2em;
    }

    .menu {
        flex-direction:row;
        gap: 20px;
        position: static; 
        background-color: transparent;
    }

    .menu a {
        font-size: 18px;
        padding: 8px 16px;
    }
}
